---
layout: index
title: Web
permalink: /
---

<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-3">
                <i class="fa fa-html5"></i>
                <h4>Tecnologia</h4>
                <p>Codigo valido, limpio y actualizado, ultimas tendencias en tecnologia de desarrollo web y diseño web</p>
                <p><br/><button type="button" class="btn btn-theme" data-toggle="modal" data-target="#test">Mas Info</button></p>
            </div>
            <div class="col-md-3">
                <i class="fa fa-plus-square"></i>
                <h4>Otros</h4>
                <p>Gestores de contenidos (CMS), Social Media, Marketing online, Newsletter, Diseño Grafico y mas.</p>
                <p><br/><a href="#" class="btn btn-theme">Mas Info</a></p>
            </div>
            <div class="col-md-3">
                <i class="fa fa-star"></i>
                <h4>Calidad</h4>
                <p>Se busca la calidad profesional con la que se muestra el proyecto, siendo lo primero que se percibe.</p>
                <p><br/><a href="#" class="btn btn-theme">Mas Info</a></p>
            </div>
            <div class="col-md-3">
                <i class="fa fa-heart"></i>
                <h4>Causa</h4>
                <p>Gracias a la solicitud de alguno de los servicios que ofrezco contribuis con una causa importante para mi</p>
                <p><br/><a href="#" class="btn btn-theme">Mas Info</a></p>
            </div>
        </div>
    </div><! --/container -->
</div><! --/service -->

<div id="test "class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            test
        </div>
    </div>
</div>

{% include portfolio.html title="MIS TRABAJOS" limit=10 %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h4>Mas sobre mi.</h4>
            <p>Del otro lado de la pantalla, aparte de ser desarrollador web, soy una persona, con diferentes gustos, con un estilo de vida y con una forma de pensar...</p>
            <p><a href="{{ "/about/" | prepend: site.baseurl }}" class="btn btn-theme">Seguir Leyendo</a></p>
        </div>

        <div class="col-lg-3">
            <h4>Preguntas Frecuentes</h4>
            <div class="hline"></div>
            {% for post in site.categories['question'] %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
            {% endfor %}
        </div>

        <div class="col-lg-3">
            <h4>Ultimas Publicaciones</h4>
            <div class="hline"></div>
            {% for post in site.categories['blog'] limit:5 %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %} 
        </div>

    </div><! --/row -->
</div><! --/container -->
