---
layout: index
title: Home
permalink: /
---

<div id="service">
    <div class="container">
        <div class="row centered">
            <h3 class="a1" data-animate="fadeInDown">FACTORES IMPORTANTES</h3>
            <div class="col-md-3">
                <i class="fa fa-heart-o"></i>
                <h4>Causa</h4>
                <p>Gracias a la solicitud de alguno de los servicios que ofrezco contribuis con una causa importante para mi</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-3">
                <i class="fa fa-flask"></i>
                <h4>Tecnologia</h4>
                <p>Codigo valido, limpio y actualizado, ultimas tendencias en tecnologia de desarrollo web y diseño web</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-3">
                <i class="fa fa-trophy"></i>
                <h4>Calidad</h4>
                <p>La calidad de un proyecto web es el primer punto a tener en cuenta a la hora de desarrollarlo, ya que es lo primero que el usuario percibe al entrar al sitio</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-3">
                <i class="fa fa-trophy"></i>
                <h4>Calidad</h4>
                <p>La calidad de un proyecto web es el primer punto a tener en cuenta a la hora de desarrollarlo, ya que es lo primero que el usuario percibe al entrar al sitio</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
        </div>
    </div><! --/container -->
</div><! --/service -->

{% include portfolio.html title="MIS TRABAJOS" limit=10 %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h4>More About Our Agency.</h4>
            <p>{{ site.about }}</p>
            <p><br/><a href="{{ "/about/" | prepend: site.baseurl }}" class="btn btn-theme">More Info</a></p>
        </div>

        <div class="col-lg-3">
            <h4>Frequently Asked</h4>
            <div class="hline"></div>
            {% for post in site.categories['question'] %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
            {% endfor %}
        </div>

        <div class="col-lg-3">
            <h4>Latest Posts</h4>
            <div class="hline"></div>
            {% for post in site.categories['blog'] limit:5 %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %} 
        </div>

    </div><! --/row -->
</div><! --/container -->
