<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Me adapto a tu medida</h1>
                <h3>Te desarrollo y te diseño la web a tu medida, con el contenido, con la forma y con los colores que quieras</h3>
                <h5>...a un precio totalmente accesible</h5>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
