<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ "/assets/img/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
    <link rel="icon" href="{{ "/assets/img/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">

    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>

    <meta name="twitter:site" content="@laureanomiceli">
    <meta name="twitter:creator" content="@laureanomiceli">
    <meta name="twitter:card" content="summary_large_image">

    <meta property="og:site_name" content="{{ site.title }}">
    {% if page.title %}
        <meta property="og:title" content="{{ page.title }}">
        <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
        <meta property="og:title" content="{{ site.title }}">
        <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.path contains '_posts' %}
        <meta property="og:description" content="{{ page.content | strip_html | truncatewords: 200 }}">
        <meta itemprop="description" content="{{ page.content | strip_html | truncatewords: 200 }}">
        <meta name="description" content="{{ page.content | strip_html |truncatewords: 160 }}">
        <meta name="twitter:description" content="{{ page.content | strip_html | truncatewords: 200 }}">
        <meta property="og:type" content="article">
    {% else %}
        <meta property="og:description" content="{{ site.description }}">
        <meta itemprop="description" content="{{ site.description }}">
        <meta name="description" content="{{ site.description }}">
        <meta name="twitter:description" content="{{ site.description }}">
        <meta property="og:type" content="website">
    {% endif %}
    {% if page.url %}
        <meta property="og:url" content="{{ site.url }}{{ page.url }}">
        <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    {% if page.date %}
        <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
        <meta property="article:author" content="{{ site.url }}/about/">
    {% endif %}
    {% if page.img %}
        <meta property="og:image" content="{{ "/assets/img/blog/" | prepend: site.url }}{{ page.img }}">
        <meta name="twitter:image:src" content="{{ "/assets/img/blog/" | prepend: site.url }}{{ page.img }}">
    {% else %}
        <meta property="og:image" content="{{ "/assets/img/browser3.png" | prepend: site.url }}">
        <meta name="twitter:image:src" content="{{ "/assets/img/browser3.png" | prepend: site.url }}">
    {% endif %}

    {% if page.categories %}
        {% for category in page.categories limit:1 %}
            <meta property="article:section" content="{{ category }}">
        {% endfor %}
    {% endif %}

    {% if page.etiquetas %}
        {% for tag in page.etiquetas %}
            <meta property="article:tag" content="{{ tag }}">
            <meta itemprop="keywords" content="{{ tag }}">
        {% endfor %}
    {% endif %}

    <!-- Bootstrap core CSS -->
    <link href="{{ "/assets/css/bootstrap.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ "/assets/css/style.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/assets/css/syntax.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/assets/css/modals.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/assets/css/rrssb.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom CSS -->
    <!--<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">-->


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="{{ "/assets/js/modernizr.js" | prepend: site.baseurl }}"></script>
</head>
