---
layout: default
---

{% include wrap.html %}

<div class="container mt">
    <div class="row">

        {% include carousel.html %}

        <div class="col-lg-5 col-lg-offset-1">
            <div class="spacing"></div>

            {{ content }}

        </div>
        <div class="col-lg-4 col-lg-offset-1">
            <div class="spacing"></div>
            <h4>Detalles del proyecto</h4>
            <div class="hline"></div>
            <p><b>Autor:</b> {{ page.author }}</p>
            <p><b>Fecha:</b> {{ page.date | date: "%-d %b, %Y" }}</p>
            <p><b>Categorias:</b> {{ page.categories }}</p>
            <p><b>Etiquetas:</b> {{ page.tags }}</p>
            <p><b>Cliente:</b> {{ page.client }}</p>
            <p><b>Pagina:</b> <a href="{{ page.website }}" target="_blank">{{ page.website }}</a></p>
        </div>
    </div><! --/row -->
</div><! --/container -->
	 
{% include portfolio.html title="Trabajos Similares." limit=5 %}
